*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    /* Diff Color background-color: #021d1f; */
    background-color: #232425;
    color: #fff;
}

#header{
    margin-top: 1%;
    width: 100%;
    height: 100vh;
    /* background-image: url(assets/testimage.jpeg); */
    background-size: 100%;
}

.container{
    padding: 10px 2%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{
    width: 35%;
    height: auto;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #1ee6c4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    margin-left: 3%;
    font-size: 30px;

}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #1ee6c4;
}

/* ----------About--------- */

/* Image Size w: 600 h: 840 or smaller*/
#about{
    padding: 80px, 0;
    color: #1ee6c4;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    margin-left: 5%;
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 58%;
} 

.sub-title{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 2%;
    color: #1ee6c4;
}

